{% extends "base.html" %}

{% block content %}

    <div class="header">
        <a href="/signin" class="normal_button">Sign In</a>
    </div>

    <h1>xXMoitinhaXx's server login</h1>

    <div class="login_and_signin_form">
        <form action="/login" method="post">
            <label for="name">Enter your username:</label>
                <input type="text" id="name" name="name" placeholder="Exemple name" requicrimson>

            <label for="password">Enter your password:</label>
                <input type="password" id="password" name="password" placeholder="Exemple password" requicrimson>

        <h4>{{ acontecimento }}</h4>

        <button type="submit">Submit</button>

    </form>
    </div>
{% endblock %}